<html lang="en">
<head>

<title>Got Things Done</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="icon" href="/static/favicon.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1>Got Things Done</h1>
      <p class="lead">
        Relax and take a look at everything you have accomplished during the last 7 days.
      </p>


      <% tasks_per_week.each do |day, tasks_group| %>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= day.strftime('%e. %B') %></h4>
            <ul class="list-unstyled">
              <% tasks_group.each do |t| %>
                <li><i style="color: green;" class="fa fa-check" aria-hidden="true"></i> <%= t.title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>


    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<p><small>We do not store any of your data but only display them directly from the Wunderlist API.</small></p>
<p><small>Brought to you by Patrick Rein.</small></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
</body>
</html>
