<html><body>

<h1>Greetings <%= user_name %>! Today, you have accomplished:</h1>
<ul>
<% tasks_per_week.each do |day, tasks_group| %>
  <li><%= day %></li>
  <ul>
    <% tasks_group.each do |t| %>
      <li><%= t.title %></li>
    <% end %>
  </ul>
<% end %>
</ul>

</body></html>
